@model IEnumerable<WebSite.Models.CommentModel>


@if (Model.Count() == 0)
{
    <p>Be the first one to comment!</p>
}
else
{
    <p>Comments</p>
    @foreach (var item in Model)
    {
        <div class="comment-container">
            <div class="row">
                <div class="col comment-border-right">
                    @Html.DisplayFor(modelItem => item.PosterName)
                </div>
                <div class="col-6 comment-border-right">
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <div class="col">
                    <p class="post-stars">
                        @if (item.Stars == 1)
                        {
                            <img class="post-stars" src="~/images/1star.png">
                        }
                        @if (item.Stars == 2)
                        {
                            <img class="post-stars" src="~/images/2stars.png">
                        }
                        @if (item.Stars == 3)
                        {
                            <img class="post-stars" src="~/images/3stars.png">
                        }
                        @if (item.Stars == 4)
                        {
                            <img class="post-stars" src="~/images/4stars.png">
                        }
                        @if (item.Stars == 5)
                        {
                            <img class="post-stars" src="~/images/5stars.png">
                        }


                    </p>
                </div>
            </div>
        </div>
    }

}