@model WebSite.Models.PostModel


<h1 class="d-flex justify-content-center" style="margin-top:150px">Create Post</h1>

<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="CreatePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Your Title" required/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" class="form-control" placeholder="Link to image" required/>
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" style="resize:none; width:100%; height:150px;" text-wrap:normal" type="text" placeholder="Add your description here required" required></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                 <label asp-for="Stars" class="control-label"></label>
                 <input asp-for="Stars" class="form-control" type="number" placeholder="1 to 5 with numbers" required/>
                 <span asp-validation-for="Stars" class="text-danger"></span>
                <div class="form-group">
                    <br>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


