@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <title>RealView</title>
    <link rel="shortcut icon" href="~/images/FavIcon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SidebarMenu.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="position:fixed; top:0; left:0; right:0; z-index:1300">
            <div class="container" style="max-width:100%">
                <a href="/Posts/AllPosts/">
                    <img style="margin-left:-5px" src="~/images/logo3.png" class="img-responsive front" height="45" width="200" alt="" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
            </div>
        </nav>
        <div class="wrapper">
            <div class="sidebar">
                <ul>
                    <br>
                    <br>
                    <br>
                    <li><a href="/Posts/AllPosts/"><i class="fas fa-home"></i>Home</a></li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li><a asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fas fa-user"></i>Profile</a></li>
                    }
                    else
                    {
                        <li><a href="/Identity/Account/Login/"><i class="fas fa-user"></i>Profile</a></li>
                    }
                    <li><a href="/Posts/CreatePost"><i class="fas fa-arrow-circle-up"></i>Create Post</a></li>
                    <li><a href="/Home/Contact"><i class="fas fa-address-book"></i>Contact</a></li>
                </ul>
                <div class="social_media">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
