/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*img {
    display: block;
}*/

.post-image{
    width: 350px;
}

.post-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 20px;
}

.post-user-name{
    font-weight: 100;
    margin-bottom: 10px;
}

.post-stars {
    width: 130px;
}

.navbar {
    margin-bottom: 0
}
.post-description{

}

.content-container {
    width: 80%;
    height: 200px;
}

.left-content {
    width: 45%;
    height: 200px;
    float: left;
    border: solid;
}

.right-content {
    margin-left: 30%;
    height: 200px;
    float: right;
}

.post-info{
    margin-left: 15px; 
    padding-top: 5px;
    padding-bottom: 5px;
}

.center-50{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.comment-container{
    border: 1px solid black;
    margin-top: 25px;
    padding: 5px;
}

.comment-border-right{
    border-right: 1px solid;
}
